SMTP_HOST=example.email.com
SMTP_PORT=587
SMTP_USERNAME=example.email.com
SMTP_PASSWORD=your_16_character_gmail_app_password
SMTP_FROM_EMAIL=example.email.com
SMTP_USE_TLS=true
SMTP_DEBUG=true
PUBLIC_BASE_URL=http://127.0.0.1:8000
ESCALATION_EMAIL=example.email.com
